<a href="https://colab.research.google.com/github/ykjoy/data_visualization/blob/main/python_basic1_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python basic I

## 파이썬 기초를 위한 참고 자료

우선 파이썬 첫 수업을 통해 파이썬과 조금이라도 친해졌다면 그것만으로도 충분하다. 여기서 꼭 기억해야 할 것은 파이썬 문법을 모두 마스터해야 할  필요는 없다는 것이다. 마이닝 기법을 배우면서 필요할 때마다 찾아보면서 배우면 된다.

그리고 코드가 실행되지 않거나 에러 메세지가 나온다고 해서 실망하지 말자. 대부분은 구글 검색을 통해 해결 방법을 찾을 수 있을 것이고, 찾을 수 없다면 스노우보드 Q&A 게시판에 질문하자!

좀 더 많은 예제를 보면서 공부하고 싶다면 아래 참고 도서 이외에도 도서관이나 인터넷을 통해 구할 수 있는 파이썬 자료면 어떤 것이라도 참조해도 좋다. 
- [Codecademy's Python Course](https://www.codecademy.com/learn/learn-python-3)
- [Python for Data Analysis](https://www.amazon.com/Python-Data-Analysis-Wrangling-IPython-ebook/dp/B009NLMB8Q/ref=mt_kindle?_encoding=UTF8&me=) 
- [Pandas Cookbook](https://www.amazon.com/Pandas-Cookbook-Scientific-Computing-Visualization/dp/1784393878) 
- [토닥토닥 파이썬 기초](https://wikidocs.net/book/1637)
- [점프 투 파이썬](https://wikidocs.net/book/1)

-----------------------------------------------------------------
데이터 마이닝 기법을 배우기 앞서 파이썬 기본 문법을 예시를 통해 배워보자 (다양한 파이썬 교재 참조함). 이 외에 추가적으로 알아야 하는 문법이 있다면 수업 중간에 필요할 때마다 설명할 예정이다. 

*텍스트 셀에서 줄바꿈을 하기 위해서는 줄 마지막에 Space 2개를 넣고 엔터치기

## 1.변수와 데이터 타입
변수(variable: 변하는 수)는 데이터를 저장하기 위한 공간으로 다양한 유형의 데이터를 저장할 수 있다. 
- 정수 (integer)
- 실수 (floating)
- 논리값 (boolean: True 또는 False) *반드시 첫글자가 대문자이어야함* 
- 문자 (string)

4가지 다른 유형의 데이터를 저장하는 변수를 정의하고 이를 출력해 보자. 데이터를 출력하기 위해서는 print() 함수(function)를 이용한다.   
*파이썬에서의 함수는 작업을 수행하여 결과를 반환하기 위해 설계된 프로그램 코드의 집합이라고 할 수 있다.      
*print()없이 변수명을 적으면 마지막 줄만 셀에 출력된다.

In [8]:
some_integer = 5           #some_integer라는 변수에 5 할당 
some_float = 7.12
some_boolean = True
some_string = 'Student'    #작은 따옴표 또는 큰 따옴표 이용 ("Student")

#변수의 값을 출력
print(some_integer)
print(some_float)
print(some_boolean)
print(some_string)
print(some_integer, some_float, some_boolean, some_string)

#변수의 데이터 타입을 출력 (int 정수, float 실수, str 문자열 등)
#type을 변경하려면 int(), float(), st() 등의 함수 이용 

print(type(some_float))
print(type(some_string))

5
7.12
True
Student
5 7.12 True Student
<class 'float'>
<class 'str'>

## 2.기본 연산
산술, 비교, 논리연산자를 이용해 보자.
- 산술 연산: + - / * %(나머지 값), **(거듭 제곱) 등
- 비교 연산: > < <= >= == !=
- 논리 연산: and or not

In [11]:
a = 3
b = 5
c = 2

# 3+5 = 8 
print(a+b) 

# 3+2 = 5
a = a + 2
print (a)

# 5*2 + 5 = 15
print (a*c+b)

8
5
15

In [12]:
d = True
e = False

# and : 둘 다 True일 경우에만 True
print (d and e)
# or : 하나라도 True일 경우 True
print (d or e)
# not : True(False)를 False(True)로 변경
print (not d)

#결과 값이 같다면 True, 그렇지 않다면 False
print (10 / 2 == 3)
print (10 % 2 == 0)

False
True
False
False
True

## 3.문자열
문자열은 작은 따옴표(‘ ’) 또는 큰 따옴표 (“ ”)로 묶어서 표시한다. 여러 줄(line)로 된 문자열인 경우 """ """ 또는 ''' '''으로 묶어서 표시한다.

In [58]:
new_string ="Python's favorite food is perl."
multi_string ="""
Life is short.
You need python.
"""

print(new_string)
print(multi_string)

print(1 + 2 )
print('1' + '2')  # error: print('1' + 2)

Python's favorite food is perl.

Life is short.
You need python.

3
12

In [20]:
#데이터 타입을 문자열로 바꾸는 함수 str()을 이용하여 출력
print ("My integer is " + str(some_integer) + ".")

print(some_integer)

My integer is 5.
5

## 4.출력 포맷
format() 함수를 이용하여 출력 형태를 지정해 준다.

In [36]:
bannas =3
apple = 4
days =5

# {0} {1} 인덱스, format 함수의 입력값을 순서대로 매칭 
print("Shayne ate {0} bannas and {1} apples for {2} days".format(bannas,apple, days))

Shayne ate 3 bannas and 4 apples for 5 days

In [41]:
model_a = 4.456545647
model_b = 7.434356457

# .3f 소수점 3자리까지 반올림해서 표현
# .2f 소수점 2자리까지 반올림해서 표현
print("A = {0:.3f}, B={1:.2f}".format(model_a, model_b))

A = 4.457, B=7.43

문자열의 각 문자마다 번호를 매겨 해당 문자만 찾아 이용할 수 있다. 번호는 0부터 시작된다.

In [39]:
msg = 'Hello World'

#앞에서 세번째 문자 (0부터 시작이므로 2+1)
print(msg[2])

#뒤에서 첫번째 문자
print(msg[-1])

#두번째 문자부터 세번째 문자까지를 나타냄 (마지막 숫자는 제외)
print(msg[1:3])

#첫번째 문자부터 네번째 문자까지를 나타냄 (마지막 숫자는 제외)
print(msg[:4])

l
d
el
Hell

In [40]:
#첫 단어만 대문자로, 나머지는 소문자로
print(msg.capitalize())

#upper() 대문자로, lower() 소문자로  
print(msg.upper())

#replace 대체하기 
print(msg.replace('Hello', 'hello'))

msg = '  hello  '
#문자열 양쪽에 있는 한 칸 이상의 연속된 공간을 지운다. 
print(msg)
print(msg.strip())

Hello world
HELLO WORLD
hello World
  hello
hello

In [6]:
h = 'hello'
k = "world"

print(h)

# 문자의 길이 
print(len(h))

# 두 개의 문자 결합하여 출력 
print(h+k)

# 문자 사이에 공백 넣기 
hk = h + ' ' + k
print(hk)

# 문자:%s  정수:%d  실수: %.3f (소수점 3자리로 반올림)
# 바로 뒤따르는 '%변수'의 값으로 출력
print('%s %s %d' %(h, k, 2022))
print(h + ' ' + k + ' ' + str(2022))
print(h, hk)

hello
5
helloworld
hello world
hello world 2022
hello world 2022
hello hello world

## 5.리스트 (List)
여러 개의 데이터를 한 곳에 묶는 방법으로 리스트가 가장 많이 사용된다. 리스트에는 임의의 데이터 타입을 담을 수 있다. 리스트를 만들려면 [ ]를 사용하며, list()함수를 이용하여 문자를 리스트로 변환할 수 있다.

In [54]:
odd = [1,3,5,7,9] 
print(odd)

nums = [2,3,4,5,6]
print(nums)

str_list = list("abc")
print(str_list)

[1, 3, 5, 7, 9]
[2, 3, 4, 5, 6]
['a', 'b', 'c']

In [55]:
print(odd[0])   # 첫번째 값 
print(odd[4])   # 다섯번째 값
print(odd[-2])  # 뒤에서 두번째 값 
print(odd[1:4]) # 두번째에서 네번째 값

1
9
7
[3, 5, 7]

In [56]:
#append() 함수를 이용하여 리스트에 요소 추가, remove(): 삭제 
odd.append(11)

#특정 위치에 있는 리스트의 값 수정  (5에서 6으로 변경)
odd[2]=6
print(odd)

#+를 사용하여 두 개의 리스트를 붙임
print(odd + nums)

odd = odd + [13,15,17,19]
print(odd)

[1, 3, 6, 7, 9, 11]
[1, 3, 6, 7, 9, 11, 2, 3, 4, 5, 6]
[1, 3, 6, 7, 9, 11, 13, 15, 17, 19]

In [62]:
# "구분자".join(리스트) 함수는 구분자를 넣어서 하나의 문자열로 변환

words1 = "".join(['e', 'f', 'g'])
print(words1)

words2 = ",".join(['e', 'f', 'g'])
print(words2)

efg
e,f,g

## 6.제어문과 반복문

- if : 조건에 따라 다른 작업 수행
- while, for : 조건을 만족하는 동안 반복 작업 수행

if, while, for문의 다음 줄은 항상 들여쓰기를 해야한다. (보통 공백 4칸) 파이썬은 들여쓰기 자체가 문법이기 때문에, 들여쓰기를 하지 않는 경우 코드가 실행되지 않는다. if, for, while 조건문 뒤에는 반드시 콜론(:)을 써야한다.

In [63]:
age =15

if age < 5:
   print("아이")
else:
   print("어른")

어른

range(시작 숫자, 끝 숫자) 함수는 시작 숫자부터 끝 숫자보다 하나 적은 숫자까지 포함하는 값을 만들어준다. 시작 숫자가 0인 경우는 생략가능하다. 예를 들어 range(10) 함수는 0부터 10 미만의 숫자를 포함하는 값을 만들어 준다 (0~9).

In [76]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

반복문에서 강제로 빠져나가기 위해서는 break를 사용한다. 만약 반복문을 빠져나가지 않고 맨 처음(조건문)으로 다시 돌아가게 만들고 싶은 경우에는 continue를 사용한다.

In [66]:
#i가 6이 되었을때 for문을 빠져나가기 때문에 6부터 숫자가 출력되지 않는다. 
for i in range(2,8):
    if i == 6:
        break
    print(i)

2
3
4
5

In [68]:
for i in range(1,7):
    # i가 3이면 출력되지 않고 다음 조건으로 넘어간다. 
    if i == 3:
        continue
    # i가 6이면 출력되지 않고 for문을 나가게 된다. 
    if i == 6:
        break
    print(i)

1
2
4
5

In [69]:
#0부터 10의 두배 값을 출력
for i in range(0,11): 
    print(i*2)

0
2
4
6
8
10
12
14
16
18
20

In [70]:
for i in range(0,10):
    if i == 3:
        continue
    if i == 6:
        break
    double=i*2
    print(double)

0
2
4
8
10

In [77]:
a_list =[]
for i in range(0,10):
    if i == 1:
        continue
    if i == 8:
        break
    double=i*2
    a_list.append(double)    # a_list에 추가  

print(a_list)

[0, 4, 6, 8, 10, 12, 14]

In [78]:
# while 문과 for문을 사용하여 0부터 9까지 출력 (동일한 결과)
idx = 0
while idx < 10:
    print(idx)
    idx = idx + 1

print('---------------')
    
for idx in range(10):
    print(idx)

0
1
2
3
4
5
6
7
8
9
---------------
0
1
2
3
4
5
6
7
8
9

In [79]:
basket = ['apple', 'banna', 'chicken', 'juice']

# 리스트의 첫번째 값과 네번째 값 출력
print(basket[0])
print(basket[3])

apple
juice

In [80]:
# 리스트의 각 값이 stuff 변수에 대입된 후 print() 함수를 수행하는데 이를 마지막 값까지 반복
for stuff in basket:
    print(stuff)

apple
banna
chicken
juice

In [89]:
# for 문을 여러번 사용하여 반복 출력 
for i in range(2):
    print(i)
    for stuff in basket:
        print(stuff)

0
apple
banna
chicken
juice
1
apple
banna
chicken
juice

리스트 안에 for문을 포함하는 리스트 내포(List comprehension)를 사용하면 좀 더 편리하고 직관적인 프로그램을 만들 수 있다. 리스트 내포 안에 "if 조건"을 사용할 수도 있다.

In [81]:
values = [0, 1, 2, 3, 4]
squares = []
for v in values:
    squares.append(v ** 2)
    
print(squares)

[0, 1, 4, 9, 16]

In [82]:
values = [0, 1, 2, 3, 4]
squares = [v ** 2 for v in values]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
values = [0, 1, 2, 3, 4]
even_squares = [v ** 2 for v in values if v % 2 == 0]
print(even_squares)

[0, 4, 16]

## 7.함수 (function)
함수는 일정한 작업을 수행하는 코드 블럭으로 특히 이를 반복하여 사용할 경우 코드를 효과적으로 사용할 수 있게 된다. 주로 어떤 입력값을 주었을 때 어떤 결과값을 돌려주는 형식이다.

In [112]:
# 파이썬에서 제공하는 내장함수: sum, min, max 함수 이용하기 

x = [1, 2, 3]
y = sum(x)

print(y)
print(min(x))
print(max(x))

6
1
3

In [ ]:
# def을 사용하여 함수 정의(define의 의미)
# return은 함수의 결과값을 돌려주는 명령어
def multiply(a,b):
    c=a*b
    return c

print(multiply(3,4))
print(multiply(4,6))

12
24

In [ ]:
def multiply(a,b,c):
    f=a*b*c
    return f

print(multiply(1,2,3))

6

In [ ]:
def sign(n):
    if n > 0:
        return '양수'
    elif n < 0:
        return '음수'
    else:
        return '0'

for n in range(-3,3):
    print(sign(n))

음수
음수
음수
0
양수
양수

In [ ]:
for x in [-1, 0, 1]:
    print(sign(x))

음수
0
양수

## 연습문제

### **연습1:특정 위치 출력**
나라온의 주민등록번호는 910906-201321이다. 년월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [118]:
# 연습: 특정 위치 출력
pin = "910906-201321"

### **연습2: 출력 결과**
다음 중 출력 결과가 다른 것 한 개를 골라 보자.  
1) print("we" "are" "happy")  
2) print("we", "are", "happy")  
3) print("we"+"are"+"happy")  
4) print("".join(["we", "are", "happy"]))

In [ ]:
# 연습: 출력 결과

### **연습3: 문장 출력** 
다음 두 문장을 모든 부호(큰따옴표, 작은 따옴표)를 포함해서 하나의 print 문으로 출력해 보시오. (Hint: 삼중 따옴표 이용)

"She's gone! Yon' Heathcliff's run off wi' her!" gasped the girl.  
"That is not true!" exclaimed Linton, rising in agitation.

In [117]:
# 연습: 문장 출력

### **연습4: 가격 계산**  
SM Restaurant에서 주문한 메뉴의 가격은 $31.45 이지만 가격의 8.6%에 해당되는 판매세를 추가해야 한다. 여기에 총 가격의 15%에 해당되는 팁까지 포함할 경우 지불해야 하는
총 가격은 얼마인지 소수점 둘째자리까지 보여주시오. (계산 과정을 변수를 사용해서 보여주시오.)

In [ ]:
# 연습: 가격 계산 

meal = 31.45
tax_rate = 0.086
tip_rate = 0.15

### **연습5: 구구단 만들기**  
for 문을 이용하여 다음과 같이 구구단 결과가 나오도록 만들시오.   
   1 x 1 = 1  
   1 x 2 = 2  
   1 x 3 = 3  
   :

   9 x 9 = 81

In [16]:
# 연습: 구구단 만들기

### **연습6: 평균 구하기**  
01분반 5명의 학생들의 중간고사 점수는 다음과 같다. sum, len 함수를 이용해서 평균 점수를 구해 보자.  

score = [80, 60, 70, 50, 90]

In [17]:
# 연습: 평균 구하기 
score = [80, 60, 70, 50, 90]

### **연습7: join 함수**  
다음 리스트를 join 함수를 이용하여 We are happy 문자열로 만들어 출력해 보자.

mylist = ['We', 'are', 'happy']

In [18]:
# 연습: join 함수   

mylist = ['We', 'are', 'happy']

### **추가 연습: for, if문**

다음 문자열에서 모음 [ ‘a’, ‘e’, ‘i’, ‘o’, ‘u’ ] 이 몇 번 나오는지 출력하시오. (Hint: for, if 문 이용)

tx = 'Perfection requires the hand of time'

In [ ]:
# 추가 연습: for, if문
  
tx = 'Perfection requires the hand of time'

## 심화.튜플 (tuple)
튜플은 리스트와 거의 같은 용도로 사용되나 내용을 갱신할 수 없다는 제약을 갖는다. 즉, 상수화된 리스트라고 볼 수 있다.
이렇게 상수화된 리스트를 사용하는 이유는 더 이상 내용을 변경하는 것을 방지하는 목적도 있고, 처리속도를 빠르게 한다는 장점도 있다.

리스트를 만들때와 달리 튜플을 만들려면 ( )을 사용하거나 괄호를 넣지 않아도 된다.

In [22]:
t1 = (1, 3, 5)
t2 = 2, 4, 6
t3 = (1, )   # t3= (1) 이면 int 정수로 인식 
t4 = ('a', 'b', ('ab', 'cd'))
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

print(t1)
print(t2)
print(t3)
print(t4)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
(1, 3, 5)
(2, 4, 6)
(1,)
('a', 'b', ('ab', 'cd'))

list(), tuple() 함수를 이용하여 튜플을 리스트로,  리스트를 튜플로 변환 가능하다.

In [ ]:
t = (1, 2, 3)
print(t)

l = list(t)
print(l)

t2 = tuple(l)
print(t2)

(1, 2, 3)
[1, 2, 3]
(1, 2, 3)

## 심화.딕셔너리 (Dictionary)
모든 항목이 '키(key)':값(value) 으로 구성되는 데이터 형식이다. 딕셔너리 데이터를 만들 때는 { }를 사용한다. [] 안에 키를 넣어 사용하면 해당 키의 값을 얻을 수 있다. 값으로는 상수, 리스트, 튜플 등 다양한 형식의 데이터를 사용할 수 있다.

In [45]:
dic = {'id': 1, 'name': 'kim'}

print(dic)
print(type(dic))
print(dic['id'])
print(dic['name'])

{'id': 1, 'name': 'kim'}
<class 'dict'>
1
kim

In [49]:
dic = {'id': 1, 'name': ['kim', 'park'], 'nclass':(1, 2, 3)}  # 2개 이상의 값도 가능하다 
print(dic['name'])
print(dic['nclass'][0])  # nclass의 첫번째 값 추출

['kim', 'park']
1

In [55]:
dic = {'id': 1, 'name': ['kim', 'park'], 'nclass':(1, 2, 3)}  
dic['score'] = [5, 6, 7]      # 새로운 키-값을 추가
dic['id'] = 2                 # 값 변경  

print(dic)

{'id': 2, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [56]:
del dic['id']                     # 딕셔너리의 키-값 삭제 
del dic['score'][1]               # score의 두번째 값 삭제 

print(dic)

{'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 7]}

In [66]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:      # d 대신 d.keys()를 사용해도 동일한 결과를 얻음 
    legs = d[animal]
    print('This %s has %d legs.' %(animal, legs))

This person has 2 legs.
This cat has 4 legs.
This spider has 8 legs.

In [68]:
#items() 함수는 키-값의 쌍을 튜플(key, value)로 묶은 값을 돌려준다.

for animal, legs in d.items():
    print('This %s has %d legs' %(animal, legs))

This person has 2 legs
This cat has 4 legs
This spider has 8 legs